.not-found-container {
    text-align: center;
    padding-top: 10%;
}

.not-found-container button {
    background: rgb(14,219,143);
    background: linear-gradient(90deg, rgba(14,219,143,1) 0%, rgba(0,212,255,1) 100%);
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    display: block;
    margin: auto;
}

.not-found-container button:hover {
    opacity: 0.5;
}

.not-found-container button:active {
    opacity: 0.5;
    transform: scale(0.90);
}