.header {
    text-align: center;
    padding: 10%;
}

.recent-posts {
    margin-top: 50px;
    display: block;
    width: 100%;
}

.recent-posts h1 {
    text-indent: 20px;
}

.recent-posts-container {
    text-align: center;
    padding: 20px;
    display: block;
}

.recent-posts a {
    text-decoration: none;
}

.post {
    width: 100%;
    box-sizing: border-box;
    max-width: 1200px;
    border-top: 1px solid black;
    padding: 20px;
    text-align: left;
    display: block;
    margin: 30px auto;
    color: black;
    word-wrap: break-word;
    cursor: pointer;
}

.post h1 {
    text-indent: 0;
}

.lif-logo {
    height: inherit;
    width: 250px;
    margin: auto;
    display: block;
}

.search-box {
    background-color: #DCDCDC;
    border-radius: 0.7em;
    display: flex;
    justify-content: left;
    padding: 5px;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.search-box img {
    width: 30px;
    height: inherit;
    display: block;
}

.search-box input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    color: black;
    border: none;
}

@media screen and (max-width: 700px) {
    .lif-logo {
        margin-top: 30px;
    }
}

@media screen and (max-width: 500px) {
    .lif-logo {
        margin-top: 50px;
    }
}