.header {
    text-align: center;
    padding: 10%;
}

.recent-posts {
    margin-top: 50px;
    display: block;
    width: 100%;
}

.recent-posts h1 {
    text-indent: 20px;
}

.recent-posts-container {
    text-align: center;
    padding-bottom: 20px;
    display: block;
}

.recent-posts a {
    text-decoration: none;
}

.post {
    width: 95%;
    background-color: rgb(228, 228, 228);
    border-radius: 1em;
    border: solid rgb(228, 228, 228) 1px;
    padding: 20px;
    text-align: left;
    display: block;
    margin: 30px auto;
    transition: 0.3s ease-in-out;
    color: black;
    word-wrap: break-word;
}

.post:hover {
    background-color: white;
    border: solid black 1px;
}

.post h1 {
    text-indent: 0;
}

@media screen and (max-width: 1400px) {
    .post {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .post {
        width: 85%;
    }
}

@media screen and (max-width: 400px) {
    .post {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .header img {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .header img {
        width: 100%;
        margin: 50px 5px 0;
    }
}