.post-view-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-container {
    display: grid;
    grid-template-columns: 50px auto;
    gap: 20px;
}

.content-container h1 {
    margin: 0;
}

.post-loading {
    text-align: center;
}

.post-loaded {
    text-align: left;
}

.post-date {
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.post-view-header {
    border-radius: 1em;
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

.post-view-header p {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.post-content h1 {
    font-size: 25px;
    margin: 10px 0;
}

.post-content h2 {
    margin: 10px 0;
    font-size: 20px;
}

.post-content li {
    margin: 8px 0;
}

.software {
    padding: 5px;
    background-color: white;
    border-radius: 0.5em;
    font-weight: bold;
}

.ringer-software {
    padding: 5px;
    background-color: orange;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.dayly-software {
    padding: 5px;
    background-color: rgb(0, 174, 255);
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.controls {
    border-top: 1px solid black;
    display: flex;
    justify-content: left;
    padding: 15px 0;
    margin-top: 15px;
    gap: 5px;
}

.controls .type1 {
    background-color: #DCECFF;
    color: black;
    border: none;
    border-radius: 0.3em;
    font-size: medium;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

.controls .type2 {
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
}

.controls .type2 img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-fit: contain;
}

.controls button:hover {
    opacity: 0.5;
}

.separator {
    width: 1px;
    height: 30px;
    background-color: black;
    display: block;
    margin: 0 4px;
}

.post-author-img {
    width: 100%;
    height: inherit;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.post-writer {
    background-color: rgb(231, 231, 231);
    border-radius: 0.5em;
    margin-top: 15px;
    padding: 10px;
    position: relative;
}

.writer-post-button {
    background-color: #DCECFF;
    color: black;
    border: none;
    border-radius: 0.3em;
    font-size: medium;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    margin-left: auto;
    display: block;
    box-shadow: 0 0 10px gray;
}

.writer-post-button:hover {
    opacity: 0.5;
}

.writer-post-button:active {
    opacity: 0.5;
    transform: scale(0.90);
}

.post-writer input {
    padding: 5px;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: solid black 1px;
}

.post-writer textarea {
    padding: 10px;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    border: solid black 1px;
    resize: unset;
    margin-bottom: 10px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width: 500px) {
    .post-writer h1 {
        font-size: x-large;
        margin-top: 25px;
    }
}

.post-writer select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 0.5em;
}

.writer-close-btn {
    border-radius: 2em;
    border: none;
    background-color: red;
    color: white;
    top: 10px;
    right: 10px;
    position: absolute;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 0.2s ease-in-out;
}

.writer-close-btn:hover {
    transform: scale(1.1);
}

.writer-close-btn:active {
    transform: scale(0.95);
}

.comments-viewer {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    margin-bottom: 50px;
}

.comment {
    display: flex;
    border-radius: 0.5em;
    margin-bottom: 20px;
    background-color: #F2F1F1;
    padding: 10px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 2px;
    margin-bottom: auto;
}

.comment div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.comment h1 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 25px;
}
.comment p {
    margin: 0;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.answer-header {
    display: flex;
    background-color: #4DFF54;
    border-radius: 0.5em;
    padding: 5px;
}

.answer-header h1 {
    margin: 0 10px;
}

.answer {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

.answer img {
    width: 30px;
    border-radius: 50%;
    display: block;
}

.answer p {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

.post-author {
    display: none;
    position: absolute;
    background-color: black;
    border-radius: 0.5em;
    color: white;
    padding: 5px;
    font-weight: bold;
    top: 75px;
    left: 0;
}

.post-view-header img:hover + .post-author {
    display: block;
}

.comment-center {
    text-align: center;
}

.comment-left {
    text-align: left;
}

.writer-post-status {
    color: red;
    display: inline-block;
    margin-right: 20px;
}

.delete-post-popup-container {
    background-color: rgba(0, 0, 0, 0.37);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 997;
}

.delete-post-popup {
    text-align: center;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0px 0px 20px black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}

.popup-buttons {
    display: flex;
    height: 40px;
    justify-content: center;
}

.delete-post-popup button {
    opacity: 1;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.delete-post-popup button:disabled {
    cursor: default;
}

.delete-post-popup button:hover{
    opacity: 0.5;
}

.delete-post-popup .cancel-button {
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
    background-color: #DCECFF;
    border: none;
    border-radius: 0.5em;
}

.delete-post-popup .delete-button {
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    background-color: #ff0000;
    border: none;
    color: white;
    border-radius: 0.5em;
}

.delete-post-popup .delete-status {
    text-align: center;
    color: red;
    margin-top: 5px;
    display: block;
}
