.page-title {
    text-align: center;
    margin-top: 10%;
    font-size: x-large;
}

@media screen and (max-width: 700px) {
    .page-title {
        margin-top: 15%;
    }
}

@media screen and (max-width: 500px) {
    .page-title {
        font-size: large;
        margin-top: 20%;
    }

    .avatar {
        display: none;
    }
}

.avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.post-container {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center; 
}

.post-form {
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    display: block;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-radius: 1em;
}

@media screen and (max-width: 500px) {
    .post-form {
        padding: 15px;
    }
}

.post-header {
    text-align: center;
}

.post-body {
    text-align: left;
}

.post-body input {
    width: 100%;
    padding: 10px;
    font-size: large;
    border-radius: 0.5em;
    background-color: #F2F2F2;
    border: none;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.post-body textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: large;
    border-radius: 0.5em;
    border: none;
    height: 500px;
    margin-bottom: 20px;
    resize: unset;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

.post-body select {
    padding: 10px;
    border-radius: 0.5em;
    margin-bottom: 20px;
    width: 100px;
}

.post-body button{
    color: black;
    border: none;
    border-radius: 0.3em;
    font-size: x-large;
    padding: 5px 30px;
    opacity: 1;
    transition: 0.3s ease-in-out;
    background-color: #DCECFF;
    display: block;
}

.post-body button:hover {
    opacity: 0.5;
}

.post-body button:active {
    background: rgb(156,14,219);
    background: linear-gradient(90deg, rgba(156,14,219,1) 21%, rgba(255,0,183,1) 100%);
    color: white;
    border: none;
    border-radius: 1em;
    font-size: x-large;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.60;
    transition: 0.3s;
    transform: scale(0.90);
    font-weight: bold;
}

.sign-in-panel-show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.432);
    z-index: 999;
}
  
.panel-show {
    background-color: white;
    box-shadow: 5px 5px 10px rgb(48, 48, 48);
    width: max-content;
    border-radius: 0.5em;
    text-align: center;
    padding: 20px;
    animation-name: panel-animation;
    animation-duration: 0.5s;
}

.panel-show button {
    padding: 10px;
    border-radius: 0.5em;
    border: none;
    background: rgb(14,219,143);
    background: linear-gradient(90deg, rgba(14,219,143,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: bold;
    font-size: large;
    transform: scale(1);
    transition: 0.3s;
}

.panel-show button:hover {
    padding: 10px;
    border-radius: 0.5em;
    border: none;
    background: rgb(14,219,143);
    background: linear-gradient(90deg, rgba(14,219,143,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: bold;
    font-size: large;
    transform: scale(1);
    transition: 0.3s;
    opacity: 0.5;
}

.panel-show button:active {
    padding: 10px;
    border-radius: 0.5em;
    border: none;
    background: rgb(14,219,143);
    background: linear-gradient(90deg, rgba(14,219,143,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
    font-weight: bold;
    font-size: large;
    transform: scale(0.90);
    transition: 0.3s;
}

.sign-in-panel-hide {
    display: none;
}

.post-status {
    display: block;
    color: red;
    margin-top: 10px;
}