.post-view-container {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.post-loading {
    text-align: center;
}

.post-loaded {
    text-align: left;
}

.post-view-header {
    border-radius: 1em;
    border: 1px solid black;
    box-shadow: 10px 10px 20px rgb(189, 189, 189);
    width: 90%;
    padding: 20px;
    position: relative;
}

.software {
    padding: 5px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 0.5em;
    font-weight: bold;
}

.ringer-software {
    padding: 5px;
    background-color: orange;
    box-shadow: 1px 1px 5px gray;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.dayly-software {
    padding: 5px;
    background-color: rgb(0, 174, 255);
    box-shadow: 1px 1px 5px gray;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.controls {
    background-color: rgb(231, 231, 231);
    border-radius: 0.5em;
    text-align: right;
    margin-top: 15px;
    padding: 10px;
}

.controls button {
    background: rgb(156,14,219);
    background: linear-gradient(90deg, rgba(156,14,219,1) 21%, rgba(255,0,183,1) 100%);
    color: white;
    border: none;
    border-radius: 1em;
    font-size: medium;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.controls button:hover {
    opacity: 0.5;
}

.controls button:active {
    opacity: 0.5;
    transform: scale(0.90);
}

.post-author-img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid rgb(177, 176, 176);
}

.post-writer {
    background-color: rgb(231, 231, 231);
    border-radius: 0.5em;
    margin-top: 15px;
    padding: 10px;
    position: relative;
}

.writer-post-button {
    background: rgb(156,14,219);
    background: linear-gradient(90deg, rgba(156,14,219,1) 21%, rgba(255,0,183,1) 100%);
    color: white;
    border: none;
    border-radius: 1em;
    font-size: medium;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.2s ease-in-out;
    display: block;
    margin-left: auto;
}

.writer-post-button:hover {
    opacity: 0.5;
}

.writer-post-button:active {
    opacity: 0.5;
    transform: scale(0.90);
}

.post-writer input {
    padding: 5px;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    border: solid black 1px;
}

.post-writer textarea {
    padding: 10px;
    border-radius: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    border: solid black 1px;
    resize: unset;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.writer-close-btn {
    border-radius: 2em;
    border: none;
    background-color: red;
    color: white;
    top: 10px;
    right: 10px;
    position: absolute;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 0.2s ease-in-out;
}

.writer-close-btn:hover {
    transform: scale(1.1);
}

.writer-close-btn:active {
    transform: scale(0.95);
}

.comments-viewer {
    background-color: rgb(231, 231, 231);
    border-radius: 0.5em;
    width: 90%;
    text-align: left;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.comment {
    display: flex;
    border-radius: 0.5em;
    margin-top: 30px;
    background-color: rgb(202, 201, 201);
    padding: 10px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.comment div {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.comment h1 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 25px;
}
.comment p {
    margin: 0;
}

.answer {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    margin-top: 30px;
    padding: 10px;
    position: relative;
}

.answer img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    border-radius: 50%;
    border: solid rgb(187, 187, 187) 3px;
}

.comment-center {
    text-align: center;
}

.comment-left {
    text-align: left;
}
