.search-page {
    padding-top: 8%;
    height: 100%;
    width: 100%;
}

.search-query {
    padding-left: 20px;
    display: block;
}

.search-results {
    text-align: center;
    padding: 10px;
}

.search-results a {
    text-decoration: none;
    color: black;
}

.search-item {
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    border-top: solid black 1px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
    transition: 0.3s;
    word-wrap: break-word;
}

.search-item p {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 700px) {
    .search-query {
        margin-top: 50px;
    }

    .search-item {
        width: 85%;
    }
}

@media screen and (max-width: 500px) {
    .search-query {
        font-size: x-large;
        margin-top: 60px;
    }
}

@media screen and (max-width: 400px) {
    .search-item {
        width: 80%;
    }
}

.software {
    padding: 5px;
    background-color: white;
    border-radius: 0.5em;
    font-weight: bold;
}

.ringer-software {
    padding: 5px;
    background-color: orange;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.dayly-software {
    padding: 5px;
    background-color: rgb(0, 174, 255);
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.search-filters {
    margin-left: 20px;
}

.search-filters span {
    font-weight: bold;
}

.search-filters a {
    margin-left: 10px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}