nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(160, 160, 160);
    margin: auto;
    z-index: 998;
}

.topnav-logo img {
    padding: 10px;
    width: 100px;
}

.topnav-account {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    margin-left: 50px;
    position: relative;
}

.topnav-account img:hover {
    transform: scale(1.1);
}

.topnav-account img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid rgb(170, 170, 170);
    border-width: 3px;
    transition: ease-in-out 0.2s;
}

.topnav-account img:active {
    transform: scale(1);
}

@media screen and (max-width: 700px) {
    .topnav-account {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 350px) {
    .topnav-account {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.topnav-search {
    background-color: rgb(233, 232, 232);
    border-radius: 1em;
    height: min-content;
    margin: auto;
    padding: 5px;
    display: flex;
    width: 50%;
    transition: 0.3s;
    border: 1px solid rgb(233, 232, 232);
}

.topnav-search:hover {
    background-color: rgb(233, 232, 232);
    border-radius: 1em;
    height: min-content;
    margin: auto;
    padding: 5px;
    display: flex;
    width: 50%;
    box-shadow: 3px 3px 10px rgb(201, 201, 201);
    border: 1px solid black;
    transition: 0.3s;
}

.topnav-search input:focus > .topnav-search div {
    background-color: rgb(233, 232, 232);
    border-radius: 1em;
    height: min-content;
    margin: auto;
    padding: 5px;
    display: flex;
    width: 50%;
    box-shadow: 3px 3px 10px rgb(201, 201, 201);
    border: 1px solid black;
    transition: 0.3s;
    border: none;
}

.topnav-search input {
    background-color: transparent;
    border: none;
    margin: auto;
    color: black;
    margin-left: 10px;
    width: 100%;
}

.topnav-search input:focus {
    outline: none;
}

@media screen and (max-width: 550px) {
    .topnav-search {
        width: max-content;
        padding: 3px;
        transition: none;
    }
    .topnav-search:active {
        width: max-content;
        padding: 3px;
    }
    .topnav-search span {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.topnav-search-open {
    background-color: rgb(233, 232, 232);
    border-radius: 1em;
    height: min-content;
    margin: auto;
    padding: 5px;
    display: flex;
    position: absolute;
    top: 15px;
    left: 50%;
    width: 50%;
    transform: translateX(-20%);
    border: 1px solid rgb(233, 232, 232);
}

.topnav-search-open input {
    background-color: transparent;
    border: none;
    margin: auto;
    color: black;
    margin-left: 10px;
    width: 100%;
}

.topnav-close-button {
    width: 15px;
    height: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.topnav-post {
    margin-top: auto;
    margin-bottom: auto;
}

.topnav-post button {
    background: rgb(156,14,219);
    background: linear-gradient(90deg, rgba(156,14,219,1) 21%, rgba(255,0,183,1) 100%);
    color: white;
    border: none;
    border-radius: 1em;
    font-size: x-large;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 1;
    transition: 0.3s;
    font-weight: bold;
}

.topnav-post button:hover {
    background: rgb(156,14,219);
    background: linear-gradient(90deg, rgba(156,14,219,1) 21%, rgba(255,0,183,1) 100%);
    color: white;
    border: none;
    border-radius: 1em;
    font-size: x-large;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.60;
    transition: 0.3s;
    font-weight: bold;
}   

.topnav-post button:active {
    background: rgb(156,14,219);
    background: linear-gradient(90deg, rgba(156,14,219,1) 21%, rgba(255,0,183,1) 100%);
    color: white;
    border: none;
    border-radius: 1em;
    font-size: x-large;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.60;
    transition: 0.3s;
    transform: scale(0.90);
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .topnav-post button {
        padding: 5px 13px 5px 13px;
    }
    .topnav-post button:active {
        padding: 5px 13px 5px 13px;
    }
}

.account-panel {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    border-radius: 1em;
    box-shadow: 10px 10px 20px rgb(196, 196, 196);
    padding: 20px;
    border: solid black 1px;
    animation-name: account-panel-animation;
    animation-duration: 0.3s;
    height: max-content;
    min-width: 200px;
}

.account-panel h1 {
    margin: 0;
    padding-left: 10px;
}

.account-panel a {
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border-radius: 1.5em;
    display: block; /* Make the links block-level elements */
    margin-bottom: 5px; /* Add margin-bottom for spacing */
    width: 90%;
    text-align: center; /* Center the link text */
    transition: 0.3s ease-in-out;
    border: solid rgb(230, 230, 230) 1px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.account-panel a:hover {
    background-color: white;
    border: solid black 1px;
}

.account-panel-header {
    display: flex;
    align-items: center; /* Vertically align the header content */
    margin-bottom: 10px; /* Add margin-bottom for spacing */
}

@keyframes account-panel-animation {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.sign-in-button {
    background: rgb(14,219,143);
    background: linear-gradient(90deg, rgba(14,219,143,1) 0%, rgba(0,212,255,1) 100%);
    border: none;
    border-radius: 0.5em;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
    display: block;
    margin: auto;
}

.sign-in-button:hover {
    opacity: 0.5;
}

.sign-in-button:active {
    opacity: 0.5;
    transform: scale(0.90);
}