.post {
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
    border-top: solid black 1px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.software {
    padding: 5px;
    background-color: white;
    border-radius: 0.5em;
    font-weight: bold;
}

.ringer_software {
    padding: 5px;
    background-color: orange;
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}

.dayly_software {
    padding: 5px;
    background-color: rgb(0, 174, 255);
    border-radius: 0.5em;
    font-weight: bold;
    color: white;
}